{% extends "admin/base.html" %}

{% block title %}{{ title }} | {{ site_title|default:_('Administración Mis perris') }}{% endblock %}

{% block extrastyle %}

<style>
    #header{
        background-color: rgb(109, 204, 170);
    }
    #content{
        background-color: rgb(133, 212, 183);
    }
    #container{
        background-color: rgb(133, 212, 183);
    }
    .module caption{
        background-color: rgb(109, 204, 170);
    }
    #content-related .module h2{
        background-color: rgb(109, 204, 170);
        color: white;
    }
    div.breadcrumbs{
        background-color:  rgb(109, 204, 170);
    }
    h1{
        color: white;
    }
    element{
        color: yellow;
    }
    .button, input[type="submit"], input[type="button"], .submit-row input, a.button{
        background-color:  rgb(133, 212, 183);
    }
    .button.default, input[type="submit"].default, .submit-row input.default{
        background-color: rgb(109, 204, 170);
    }
    .module h2, .module caption, .inline-group h2{
        background-color: rgb(109, 204, 170);
    }
</style>

{% endblock extrastyle %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}