{% extends 'core/base.html'%}

{% load static%}

{% block Landing2%}
<div class="galeria">
    <a data-fancybox="gallery" href="Imagenes/rescatados/Bigotes.jpg"><img src="{% static 'core/img/rescatados/Bigotes_tn.jpg'%}" class="Galeria1"></a>
    <a data-fancybox="gallery" href="Imagenes/rescatados/Chocolate.jpg"><img src="{% static 'core/img/rescatados/Chocolate_tn.jpg'%}" class="Galeria2"></a>
    <a data-fancybox="gallery" href="Imagenes/rescatados/Luna.jpg"><img src="{% static 'core/img/rescatados/Luna_tn.jpg'%}" class="Galeria3"></a>
    <a data-fancybox="gallery" href="Imagenes/rescatados/Maya.jpg"><img src="{% static 'core/img/rescatados/Maya_tn.jpg'%}" class="Galeria4"></a>
    <a data-fancybox="gallery" href="Imagenes/rescatados/Oso.jpg"><img src="{% static 'core/img/rescatados/Oso_tn.jpg'%}" class="Galeria5"></a>
    <a data-fancybox="gallery" href="Imagenes/rescatados/Pexel.jpg"><img src="{% static 'core/img/rescatados/Pexel_tn.jpg'%}" class="Galeria6"></a>
</div>

{% endblock Landing2%}