{% extends 'core/base.html'%}
{% load static %}
{% block Landing2%}

<h2>Listado de Mascotas</h2>

<table>
    <tr>
        <th>Nombre</th>
        <th>Fecha Ingreso</th>
        <th>Fecha Nacimiento</th>
        <th>Raza</th>
        <th>Genero</th>
        <th>Estado</th>
        <th>Imagen</th>
        <th>Opciones</th>

        {% for m in mascotas%}

        <tr>
            <td>{{ m.nombre }}</td>
            <td>{{ m.fechaIngreso }}</td>
            <td>{{ m.fechaNacimiento</td>
            <td>{{ m.Raza }}</td>
            <td>{{ m.Genero }}</td>
            <td>{{ m.Estado }}</td>
            <td>
                {% if m.Foto%}
                <img src="{{ m.Foto.url}}" width="100" height="100">
                {% endif %}
            </td>
            <td>
                <a href="{% url 'eliminar_mascota' m.id %}">Eliminar</a>
                <a href="{% url 'modificar_mascota' m.id %}">Modificar</a>
            </td>
        </tr>

        {% endfor %}
    </tr>
</table>
{% if messages %}

    {% for n in messages %}
    <h3>{{ n }}</h3>
    {% endfor%}
    
{% endif%}
{% endblock Landing2%}