{% extends 'core/base.html'%}
{% load static %}
{% block Landing2 %}

<h1 class="tituloListado">Mascotas Ingresadas</h1>
        
        <table border="1">
            <thead>
                <tr id="t1">
                    <td>Nombre</td>
                    <td>Raza</td>
                    <td>Fecha de ingreso</td>
                    <td>Fecha de nacimiento</td>
                    <td>Estado</td>
                    <td>Genero</td>
                    <td>Foto</td>
                    <td>Opciones</td>    
                </tr>
           </thead>

        <tbody> 
            {% for m in mascotas %}

            {% csrf_token %}
            
            <tr id="t2">
                <td data-label="nombre">{{ m.nombre }}</td>
                <td data-label="Raza">{{ m.Raza }}</td>
                <td data-label="fechaIngreso">{{ m.fechaIngreso }}</td>
                <td data-label="fechaNacimiento">{{ m.fechaNacimiento }}</td>
                <td data-label="Estado">{{ m.Estado }}</td>
                <td data-label="Genero">{{ m.Genero }}</td>
                <td data-label="foto"><img src="../media/{{ m.Foto }}"></td>
                <td>
                  <a class="btn btn-primary"href="{% url 'modificar_mascota' m.id %}">Actualizar</a>
                  <a class="btn btn-danger"href="{% url 'eliminar_mascota' m.id %}">Eliminar</a>
                </td>
               
                
            </tr>
        </tbody> 
        </table>
        {% if messages %}

            {% for n in messages %}
                <h3>{{ n }}</h3>
            {% endfor %}
    
        {% endif %}
        {% endfor %}

{% endblock Landing2 %}