{% comment %} 
a.	Nombre.
b.	Raza (crear un modelo aparte).
c.	Genero. (M o H)
d.	Fecha ingreso.
e.	Fecha nacimiento (puede ser nula, ya que hay la posibilidad que no se sepa con certeza).
f.	Imagen de la mascota.
g.	Estado (rescatado, disponible o adoptado). (guardar como un modelo aparte).
h.	En el LANDING page se deben mostrar las imágenes de los perros adoptados (desde la BBDD).
i.	En la galería se deben listar las imágenes de los perros en estado rescatados (desde la BBDD). 
{% endcomment %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="Imagenes/favicon.ico" type="image/x-icon">

    <title>Mis Perris - Registro</title>

    {% load static%}

    <link rel="stylesheet" href="{% static 'core/css/mascotacs.css'%}"> 

</head>
<body>
    <h1 class="FormTitulo"> Bienvenido al registro de mascotas</h1>
        <form action="" class="Registro" method="POST" enctype='multipart/form-data'>

            {% csrf_token %}

            <h2 class="FormSubtitulo">ingrese los datos de la mascota</h2>
            <div class="Contenedor-Registro">
            <input type="text" name="nombremascota" id="nombremascota" class="put" placeholder="Nombre de la mascota" value="{{ mascota.nombre }}">
            <select name="razamascota" id="razamascota" class="put">
                <option value="">Seleccione Raza</option>
                    
                <option 
                {% for r in raza%}  
                    {% if r.id == mascota.Raza.id %}
                    {{ 'selected' }}

                    {% endif %}
                value="{{ r.id }}">{{ r.nomRaza }}</option>
                {% endfor%}
            </select>
            <label for="" class="fechas">Fecha de nacimiento &nbsp &nbsp &nbsp &nbsp &nbsp Fecha de ingreso</label>
            <input type="date" name="nacimiento" id="" class="date" value="{{ mascota.fechaNacimiento }}">
            <input type="date" name="ingreso" id="" class="date" value="{{ mascota.fechaNacimiento }}">
            <select id="cboestado" name="cboestado" class="select">    
                <option value="">Seleccione el estado</option>

                {% for e in estado %}
                {% if e.id == estado.id %}
                {{ 'selected' }}

                {% endif %}
                <option value="{{ e.id }}">{{ e.nomEstado }}</option>

                {% endfor %}
            </select>
            <select id="cbogenero" name="cbogenero" class="select">    
                <option value="">Seleccione el genero</option>

                {% for g in genero %}
                {% if g.id == genero.id %}
                {{ 'selected' }}

                {% endif %}
                <option value="{{ g.id }}">{{ g.nomGenero }}</option>

                {% endfor %}
            </select>

            <input type="file" name="Foto" id="Foto" value="{{ mascota.Foto }}">

            <input type="submit" value="Guardar datos" name="BtnRegistro" id="BtnRegistro" class="Boton">
            <input type="reset" value="Limpiar datos" nafme="BtnBorrar" id="BtnBorrar" class="Botoncito">
            </div>
        </form>       
    <h2 class="FormSubtitulo">{{ mensaje }}</h2>
</body>
</html>