* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('/static/core/img/adoptados/Apolo.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    color: white;
    text-align: center;
}


.FechaNaci {
    width: 96%;
    margin-top: 4px;
}

.Registro {
    width: 95%;
    max-width: 546px;
    margin: auto;
    background: rgba(17, 9, 9, 0.733);
    border-radius: 7px;
    margin-top: 0%;
}

.FormTitulo {
    background: rgba(0, 0, 0, 0.171);
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
    font-weight: 100;
    font-size: 30px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.FormSubtitulo {
    background: rgba(0, 0, 0, 0.24);
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
    font-weight: 100;
    font-size: 30px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.Contenedor-Registro {
    padding: 10px 30px;
    display: flex;
    flex-wrap: wrap;
}

input {
    margin-bottom: 15px;
    padding: 15px;
    font-size: 16px;
}

.put {
    width: 48%;
    margin: 1%;
}

.div-dif {
    width: 100%;
    display: table;
}

.date {
    width: 48%;
    margin-top: 0%;
    margin-right: 1%;
    margin-left: 1%;
}

.fechas {
    font-size: 20px;
    margin: 1%;
    color: white;
}

.select {
    width: 48%;
    padding: 4%;
    margin-left: 1%;
    margin-right: 1%;
}

.Boton {
    border: none;
    color: rgba(255, 255, 255, 0.212);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 3px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-top: 5%;
    margin-right: 1%;
}

.login {

    width: 65%;
    margin-left: 17%;

}

.Boton {
    background-color: rgba(0, 0, 0, 0.493);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(119, 121, 119);
    padding: 10px;
    margin-left: 23%;
}

.Boton:hover {
    background-color: rgba(54, 54, 54, 0.226);
    color: rgb(161, 161, 161);
}

.Botoncito {
    background-color: rgba(0, 0, 0, 0.493);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(119, 121, 119);
    padding: 10px;
}

.Botoncito:hover {
    background-color: rgba(54, 54, 54, 0.226);
    color: rgb(161, 161, 161);
}

.Botoncito {
    border: none;
    color: rgba(255, 255, 255, 0.212);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 3px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-top: 5%;
}
